user-info {

    p {
        margin-top: -10px;
    }

    .round {
        width: 50%;
        border-radius: 100%;
        margin: 25px auto 0 auto;
    }

    .custom-background {
        background-color: #333;
    }

    ion-avatar {
        padding-top: 10px;
        padding-bottom: 35px;
    }

}
